@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
   font-family: "pix";
   src: local("pix"),
    url("./assets/pix.ttf") format("truetype");
   font-weight: bold;
   }

@font-face {
   font-family: "quarlow";
   src: local("quarlow"),
    url("./assets/quarlow.ttf") format("truetype");
   font-weight: bold;
   }

@font-face {
   font-family: "minitel";
   src: local("Minitel"),
    url("./assets/Minitel.ttf") format("truetype");
   font-weight: bold;
   }

   * {
      box-sizing: border-box;
      padding: 0;
      margin: 0;
      scroll-behavior: smooth;
    }
